@import '../node_modules/mini.css/dist/mini-default.min.css';

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

nav ul {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: #366638;
  }
  
li {
    float: left;
}

li a, li button {
    display: block;
}
  
nav li a {
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #2E5730 !important;
}

h1, p {
    padding: 15px;
}

h1, h2, form, button {
    text-align: center;
}

input[type=text] {
    width : 100%;
}

/* form {
    text-align: center;
    border:#366638;
} */